body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  width: 100vw;
}

/* style for logo */
.logo {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
}

/* style for navigation */
nav {
  display: none;
  margin-right: 50px;
}

nav.show {
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

nav.show ul {
  display: block;
  text-align: center;
}

nav.show ul li {
  display: block;
  margin: 10px;
}

nav.show ul li a {
  display: block;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav.show ul li a:hover {
  color: #f00;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 20px 40px;
  }

  nav {
    display: flex;
    margin-right: 80px;
  }

  nav ul {
    display: flex;
    align-items: center;
  }

  nav ul li {
    margin-left: 20px;
  }

  nav ul li:first-child {
    margin-left: 0;
  }

  nav ul li a {
    font-size: 18px;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  nav ul li a:hover {
    color: #f00;
  }

  nav.show {
    display: none;
  }
}

about {
  margin-top: 50px;
}

.about h1 {
  font-size: 36px;
  margin-bottom: 20px;
  margin-left: 80px;
}

.about p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-left: 80px;
  margin-right: 50px;
}

/* CSS untuk mengatur tampilan footer */

footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  height: 50px;
}

.footer-description {
  flex-basis: 60%;
  margin: 20px 0;
}

.footer-description p {
  color: #fff;
}

.footer-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-menu ul li {
  margin: 0 20px 0 0;
}

.footer-menu ul li:last-child {
  margin-right: 0;
}

.footer-menu ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-copyright {
  flex-basis: 100%;
  text-align: center;
  margin-top: 50px;
}

/* CSS untuk membuat tampilan website menjadi responsive */

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo,
  .footer-menu {
    flex-basis: 100%;
  }

  .footer-menu {
    margin-top: 20px;
  }

  .footer-menu ul {
    flex-direction: column;
  }

  .footer-menu ul li {
    margin: 10px 0;
  }
}
